*{
    margin:0;
    padding:0;
    border:0;
    }
body {
    background-image: url(backB_4.png);
}
.grid {
    display: grid;
    grid-template-columns: 1f 500px 500px 1f;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    ". header header ."
    ". body body ."
    ". body body ."
    ". footer footer .";
    grid-gap: 5px;
}
.header {
    grid-area: header;
    background-color: red;
}
.body {
    align-self: center;
    grid-area: body;
    background-color: aqua;
}
.footer {
    grid-area: footer;
    background-color: yellow;
}